$primary-color: #212121;
$secondary-color: whitesmoke;

:root {
    --primary-color: #212121;
    --secondary-color: whitesmoke;
    --color: white;
    --content: #181818;
    --black: black;
    --searchblack: #303030;
    --sidebar-color: #212121;
    --header-color: #212121;
    --tag-color: #383838;
}

body {
    color: var(--color);
}

header {
    background-color: var(--primary-color);
    min-height: 7vh;

    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color);

    .header-first {
        display: flex;
        align-items: center;
        gap: 2rem;  
        font-size: 1.3rem;
        margin: 0 1rem;

        .logo {
            display: flex;
            align-items: center;

            .y-logo {
                color: red;
                font-size: 2rem;
                margin-right: 10px;
            }

            .youtube-written {
                font-weight: 700;
            }

            .pk-written {
                font-size: 0.6rem;
                font-weight: 500;
                color: rgb(153, 153, 153);
                margin-bottom: 1rem;
            }
        }
    }


    .header-second {
        display: flex;

        .input-background {
            font-size: 1.5rem;
            display: flex;
            align-items: center;
            input {
                background-color: var(--black);
                border: none;
                width: 400px;
                padding: 0.7rem;
                font-size: 1rem;
            }
        }
    }

    form {
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        .header-search {
            font-size: 1.3rem;
            padding: 0.6rem;
            background-color: var(--searchblack);
        }

        .header-mic {
            background-color: var(--black);
            border-radius: 50%;
            padding: 0.8rem;
            margin-left: 0.6rem;
        }
    }


    .header-third {
        display: flex;
        align-items: center;
        gap: 2rem;
        margin-right: 1rem;
        font-size: 1.5rem;

        .user-image {
            width: 30px;
            height: 30px;
            border-radius: 50%;
        }
    }
}

.body {
    display: flex;
    height: 93vh;
    
    .sidebar { 
        background-color: var(--sidebar-color);
        flex-basis: 220px;
        overflow-y: scroll;

        .each-option {
            display: flex;
            align-items: center;
            justify-content: flex-start ;
            gap: 1rem;
            padding: 0.7rem;
            font-size: 1.5rem;
            cursor: pointer;
            color: var(--color);

            &:hover {
                background-color: gray;
            }

            span {
                font-size: 0.9rem;
            }

            .sidebar-icon {
                margin-left: 1rem;
            }
        }

        .sidebar-sub {
            color: gray;
            font-weight: bold;
            font-size: 0.8rem;
            margin-left: 1.7rem;
            margin-top: 2rem;
            display: inline-block;
            text-transform: uppercase;
        }

    }

    .content {
        flex: 1;
        background-color: var(--content);
        overflow: scroll;

        .content-tags {
            min-height: 7vh;
            display: flex;
            align-items: center;
            color: var(--color);
            border-top: 1px solid #666666;
            border-bottom: 0.5px solid #666666;

            .content-tag {
                display: inline-block; 
                display: flex;
                align-items: center;
                background-color: var(--tag-color);
                text-align: center;
                border: 1px solid #666666;
                border-radius: 50px;
                margin: 0.3rem 0.4rem;
                height: 24px;
                font-weight: 500;
                padding: 0.2rem 1rem;
                cursor: pointer;

            }

            .active {
                background-color: whitesmoke;
                color: black;
            }
        }

        .videos-container {
            display: flex;
            flex-wrap: wrap;
            margin: 0 auto;

            .video {
                display: flex;
                flex-direction: column;
                margin: 5rem 1rem;
                width: 270px;
                height: 150px;
                color: var(--color);
                cursor: pointer;

                .video-info {
                    display: flex;
                    justify-content: space-between;

                    .video-info-all {
                        display: flex;
                        flex-direction: column;
                        margin-top: 0.5rem;
                    }

                    .option-dots {
                        margin-top: 0.5rem;
                        visibility: hidden;
                    }
                }

                &:hover {
                    transform: scale(1.1);
                    transition: 0.2s;
                    
                    .option-dots {
                        visibility: visible;
                    }
                }

                .video-image {
                    width: 270px;
                    height: 150px;
                }

                .views-time {
                    font-size: 0.6rem;
                    margin: 0.5rem 0;

                    span + span {
                        padding: 0 1rem;
                    }
                }

                &-title {
                    font-size: 1rem;
                }

                &-channel-name {
                    font-size: 0.7rem;
                    font-weight: 500;
                }

            }
        }
    }
}

.dark-theme {
    --primary-color: whitesmoke;
    --secondary-color: black;
    --color: black;
    --content: whitesmoke;
    --black: white;
    --searchblack: #e0e0e0;
    --sidebar-color: #e0e0e0;
    --header-color: #dbdbdb;
    --tag-color: #dbdbdb;
}